@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Random Date with one input";
}

@model RandomizerMvc.Models.JosModels.RandomPasswordModel.OneParameter

<div class="col-md-12 text-center">

    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Over deze opdracht

        <i class="bi bi-arrow-down-right"></i>
    </button>
    <div class="collapse" id="collapseExample">
        <br />

        <div class="card card-body border border-primary">
            Deze code genereert willekeurige wachtwoorden voor gebruikers met een opgegeven lengte, bestaande uit hoofdletters, kleine letters en cijfers.
        </div>
    </div>
</div>
<br />

@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var modelState in ViewData.ModelState.Values)
            {
                foreach (var error in modelState.Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            } 
        </ul>
    </div>
}

<form action="/JosMvc/RandomPasswordOnePara" method="post">
    <div class="form-group">
        <label class="control-label" for="UserDateChoice">Password Length:</label>
        <input class="form-control" type="number" min="1" max="100" id="UserPasswordLength" name="UserPasswordLength" />
        <span class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Get Random Password</button>
</form>

<div class="result">
    @if (ViewBag.RandomPassword != null)
    {
        <h4>Random Password: @ViewBag.RandomPassword</h4>
    }
</div>

