@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Random Date with one input";
}

@model RandomizerMvc.Models.JosModels.RandomPasswordModel.FourParameter
<div class="col-md-12 text-center">

    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Over deze opdracht

        <i class="bi bi-arrow-down-right"></i>
    </button>
    <div class="collapse" id="collapseExample">
        <br />

        <div class="card card-body border border-primary">
            Deze code creëert een wachtwoord met het opgegeven aantal hoofdletters, kleine letters, cijfers en speciale tekens, waarbij de speciale tekens afkomstig zijn uit een vooraf bepaalde lijst van 10 tekens.
        </div>
    </div>
</div>
<br />
@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var modelState in ViewData.ModelState.Values)
            {
                foreach (var error in modelState.Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}

<form action="/JosMvc/RandomPasswordFourPara" method="post">
    <div class="form-group">
        <label class="control-label" for="uppercaseAmount">Uppercase amount:</label>
        <input class="form-control" type="number" min="1" max="255" id="uppercaseAmount" name="uppercaseAmount" />
        <label class="control-label" for="lowercaseAmount">Lowercase amount:</label>
       
<input class="form-control" type="number" min="1" max="255" id="lowercaseAmount" name="lowercaseAmount" />
        <label class="control-label" for="numbersAmount">Numbers amount:</label>
        <input class="form-control" type="number" min="1" max="255" id="numbersAmount" name="numbersAmount" />
<label class="control-label" for="specialCharsAmount">Special characters amount:</label>
        <input class="form-control" type="number" min="1" max="255" id="specialCharsAmount" name="specialCharsAmount" />
        
        <span class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Get Random Password</button>
</form>

<div class="result">
    @if (ViewBag.RandomPassword != null)
    {
        <h4 class="text-break">Random Password: @ViewBag.RandomPassword</h4>
    }
</div>

