@{
    Layout = "_Layout";
}
<div class="col-md-12 text-center">

    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Over deze opdracht

        <i class="bi bi-arrow-down-right"></i>
    </button>
    <div class="collapse" id="collapseExample">
        <br />

        <div class="card card-body border border-primary">
            Deze code creëert lukraak ergens op aarde coördinaten, zoals een willekeurige plek op de kaart. Het slaat deze locatie op en geeft het terug als een soort digitale postcode in een makkelijk leesbare vorm, die lijkt op een tekstbericht.
        </div>
    </div>
</div>
<br />

<h2>
    @ViewBag.RandomLocation

</h2>