@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Random Date with one input";
}

@model RandomizerMvc.Models.JosModels.RandomPasswordModel.FiveParameter

<div class="col-md-12 text-center">

    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Over deze opdracht

        <i class="bi bi-arrow-down-right"></i>
    </button>
    <div class="collapse" id="collapseExample">
        <br />

        <div class="card card-body border border-primary">
            Deze code genereert een wachtwoord op basis van de gebruikersvoorkeuren. De gebruiker geeft het gewenste aantal tekens aan met een getal en kan kiezen of hoofdletters, kleine letters, cijfers en speciale tekens al dan niet moeten worden opgenomen. De speciale tekens worden willekeurig met de andere tekens gemengd in het gegenereerde wachtwoord.
        </div>
    </div>
</div>
<br />


@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var modelState in ViewData.ModelState.Values)
            {
                foreach (var error in modelState.Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}

<form asp-controller="JosMvc" asp-action="RandomPasswordFivePara" method="post">
    <div class="form-group">
        <label class="control-label" for="UserPasswordLength">Password length:</label>
        <input class="form-control" type="number" min="1" max="100" id="UserPasswordLength" name="UserPasswordLength" />

        <label class="control-label" for="UserAllowUppercase">Uppercase allowed?</label>
        <input type="checkbox" name="UserAllowUppercase" value="true" />
        <input type="hidden" name="UserAllowUppercase" value="false" />
        <br />
<label class="control-label" for="UserAllowLowercase">Lowercase allowed?</label>
        <input type="checkbox" name="UserAllowLowercase" value="true" />
        <input type="hidden" name="UserAllowLowercase" value="false" />

        <br />
<label class="control-label" for="UserAllowNumbers">Numbers allowed?</label>
        <input type="checkbox" name="UserAllowNumbers" value="true" />
        <input type="hidden" name="UserAllowNumbers" value="false" />
<br />
<label class="control-label" for="UserAllowSpecialChars">Special characters allowed?</label>
        <input type="checkbox" name="UserAllowSpecialCharacters" value="true" />
        <input type="hidden" name="UserAllowSpecialCharacters" value="false" />


        <span class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Get Random Password</button>
</form>


<div class="result">
    @if (ViewBag.RandomPassword != null)
    {
        <h4 class="text-break">Random Password: @ViewBag.RandomPassword</h4>
    }
</div>

